---
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Rooms from "../components/Rooms.astro";
import PureCare from "../components/PureCare.astro";
import Pricing from "../components/Pricing.astro";
import Testimonial from "../components/Testimonial.astro";
import BookNow from "../components/BookNow.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Header class="p-7 dark:bg-night-backgroundCard" />
<Layout
  title="Astro"
  description="Astro is a fresh but familiar approach to building websites. Astro combines decades of proven performance best practices with the DX improvements of the component-oriented era."
>
  <main class="">
    <SectionContainer class="dark:bg-night-backgroundCard rounded-b-3xl">
      <Hero />
    </SectionContainer>
    <SectionContainer class="mt-20">
      <About />
    </SectionContainer>
    <SectionContainer class="mt-10">
      <Rooms />
    </SectionContainer>
    <SectionContainer class="mt-10">
      <PureCare />
    </SectionContainer>
    <SectionContainer class="mt-10">
      <Pricing />
    </SectionContainer>
    <SectionContainer class="mt-10">
      <Testimonial />
    </SectionContainer>
    <SectionContainer class="mt-10">
      <BookNow />
    </SectionContainer>
  </main>
</Layout>
