---
import HeroButton from "../icons/HeroButton.astro";
import IconBrandFacebook from "../icons/IconBrandFacebook.astro";
import IconBrandInstagram from "../icons/IconBrandInstagram.astro";
import IconBrandLinkedin from "../icons/IconBrandLinkedin.astro";
import IconBrandX from "../icons/IconBrandX.astro";
import IconBrandYoutubeFilled from "../icons/IconBrandYoutubeFilled.astro";
import IconMail from "../icons/IconMail.astro";
import IconMapPin from "../icons/IconMapPin.astro";
import IconPhone from "../icons/IconPhone.astro";
import IconPlayerPlay from "../icons/IconPlayerPlay.astro";
import LinkButton from "./LinkButton.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 bg-night-backgroundCard pb-4">
  <div class="">
    <div class="flex justify-start items-start content-start gap-4 mt-12 px-7">
      <HeroButton class="bg-day-main text-night-text rounded-full p-3">
        <IconMapPin />
      </HeroButton>
      <div class="flex flex-col justify-start content-start gap-2">
        <h1 class="text-xl font-bold text-night-text">Pay Us A Visit</h1>
        <p class="text-sm text-wrap pr-11 text-night-text">
          123 Meow Avenue Kittyville, CA 90210 United States
        </p>
      </div>
    </div>
    <div class="flex justify-start items-start content-start gap-4 mt-12 px-7">
      <HeroButton class="bg-day-main text-night-text rounded-full p-3">
        <IconPhone />
      </HeroButton>
      <div class="flex flex-col justify-start content-start gap-2">
        <h1 class="text-xl font-bold text-night-text">Give Us A Call</h1>
        <p class="text-sm text-wrap pr-11 text-night-text">(555) 555-5555</p>
      </div>
    </div>
    <div class="flex justify-start items-start content-start gap-4 mt-12 px-7">
      <HeroButton class="bg-day-main text-night-text rounded-full p-3">
        <IconMail />
      </HeroButton>
      <div class="flex flex-col justify-start content-start gap-2">
        <h1 class="text-xl font-bold text-night-text">Send Us A Message</h1>
        <p class="text-sm text-wrap pr-11 text-night-text">info@neko-inn.com</p>
      </div>
    </div>
  </div>

  <div class="grid gap-6 pt-9 pb-2 mx-7">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div class="flex flex-col justify-start content-start gap-4">
        <h1 class="text-xl font-bold text-night-text">NekoInn Plans</h1>
        <p class="text-sm text-wrap pr-11 text-night-text">Purr Ducal</p>
        <p class="text-sm text-wrap pr-11 text-night-text">Purr Royal</p>
        <p class="text-sm text-wrap pr-11 text-night-text">Purr Imperial</p>
      </div>

      <div class="flex flex-col justify-start content-start gap-4">
        <h2 class="text-xl font-bold text-night-text">
          Socialize With NekoInn
        </h2>
        <span class="flex gap-1 flex-wrap">
          <HeroButton class="bg-day-main text-night-text rounded-full p-3">
            <IconBrandFacebook />
          </HeroButton>
          <HeroButton class="bg-day-main text-night-text rounded-full p-3">
            <IconBrandX />
          </HeroButton>
          <HeroButton class="bg-day-main text-night-text rounded-full p-3">
            <IconBrandYoutubeFilled />
          </HeroButton>
          <HeroButton class="bg-day-main text-night-text rounded-full p-3">
            <IconMail />
          </HeroButton>
          <HeroButton class="bg-day-main text-night-text rounded-full p-3">
            <IconBrandInstagram />
          </HeroButton>
        </span>
      </div>
    </div>

    <div class="grid grid-cols-1">
      <div class="text-center">
        <p class="text-xs text-wrap text-night-text">
          2024 COPYRIGHT - NEKOINN A 5 STAR PURR HOTEL
        </p>
      </div>
    </div>
  </div>
</div>
