---
import IconPlayerPlay from "../icons/IconPlayerPlay.astro";
import LinkButton from "./LinkButton.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-12">
  <div class="text-center md:text-left">
    <span
      class="font-bold uppercase text-[10px] tracking-[0.2em] dark:text-night-subtitles"
    >
      Where Feline Comfort Comes First
    </span>
    <h1 class="py-6 text-4xl font-bold dark:text-night-text">
      Your 5 Stars Purr Inn
    </h1>
    <div>
      <p class="text-sm px-7 md:pl-0 text-pretty dark:text-night-text">
        At NekoInn, we understand that your beloved feline companion deserves
        the best care, even when you can't be there. That's why we've created a
        haven designed specifically for cats, where every whisker is cherished
        and every purr is celebrated. From cozy accommodations to personalized
        attention, we strive to provide a nurturing environment where your cat
        can relax, play, and thrive while you're away. Welcome to NekoInn, where
        your cat's comfort and happiness are our top priorities.
      </p>
    </div>

    <div class="flex justify-center my-6 md:my-6 md:block">
      <LinkButton
        href="/about"
        class="dark:bg-day-main dark:text-night-text font-bold py-6 mx-7 text-xs w-full rounded-full md:w-2 md:mx-0 md:px-6 md:py-3"
      >
        BOOK A PURR-SUITE
      </LinkButton>
    </div>

    <div
      class="relative video-container md:w-full px-7 my-16 md:my-8 md:pl-0 md:pr-48"
    >
      <img
        src="/src/assets/img/catSleeping.png"
        alt="Cat sleeping"
        class="rounded-lg w-full max-h-28 shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover z-10"
      />
      <div class="absolute text-left bottom-[10%] md:left-[2%] left-[10%]">
        <h3 class="font-bold text-xs tracking-wide dark:text-night-text">
          WATCH NOW
        </h3>
        <h2 class="font-bold text-base dark:text-night-text">
          Introducing The NekoInn
        </h2>
      </div>

      <LinkButton
        href="/"
        class="absolute bottom-[30%] right-[3%] md:right-[30%] dark:bg-day-main dark:text-night-text rounded-full p-2"
      >
        <IconPlayerPlay />
      </LinkButton>
    </div>
  </div>
  <div class="relative pt-9 pb-0">
    <img
      src="/src/assets/img/stripes.png"
      alt="stripes"
      class="absolute top-0 left-0 md:left-[21%] md:top-0 object-cover"
    />
    <img
      src="/src/assets/img/stripes.png"
      alt="stripes"
      class="absolute bottom-6 md:bottom-7 right-0 md:-right-5 object-cover"
    />

    <div class="relative px-7 md:px-0 md:flex md:justify-end">
      <img
        src="/src/assets/img/cat_0.png"
        alt="Cat sleeping"
        class="md:h-[400px] md:w-[400px]
        h-[352px] w-[352px]
      mb-20 mt-0
      aspect-square
      rounded-tr-[60px]
      rounded-br-[60px]
      rounded-tl-[100px]
      rounded-bl-[260px]
      md:rounded-tl-[60px]
      md:rounded-bl-[60px]
      shadow-lg
     border-2 border-day-main
        object-none"
      />

      <span
        class="absolute top-0 right-0 h-[397px] w-full md:h-[500px] md:w-[500px]"
      >
        <img
          class="absolute size-20 left-[2%] md:left-[12%] md:bg-white top-[18%] object-none object-top border-2 border-day-main rounded-full"
          src="/src/assets/img/cat_1.png"
          alt="cat 1"
        />
        <img
          class="absolute size-20 left-[7%] md:left-[12%] md:top-[46%] top-[44%] object-none object-top border-2 border-day-main rounded-full"
          src="/src/assets/img/cat_2.png"
          alt="cat 2"
        />
        <img
          class="absolute size-20 left-[22%] bottom-[18%] md:bottom-[12%] md:left-[38%] object-none object-top border-2 border-day-main rounded-full"
          src="/src/assets/img/cat_3.png"
          alt="cat 3"
        />
        <img
          class="absolute size-20 left-[47%] md:left-[67%] bottom-[5%] md:bottom-[12%] object-none border-2 border-day-main rounded-full"
          src="/src/assets/img/cat_4.png"
          alt="cat 4"
        />
      </span>
    </div>
  </div>
</div>
