<div class="gap-4 pt-10 mt-3 bg-night-backgroundCard rounded-t-[80px]">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 mx-7 mt-12 border-b-[1px] pb-14 border-night-subtitles border-opacity-25"
  >
    <div class="flex justify-between sm:justify-normal items-center px-7 pb-6">
      <img src="/assets/img/Vector.png" class="size-20" alt="" />
      <div class="flex flex-col justify-start pl-4">
        <span
          class="font-bold uppercase text-[10px] tracking-[0.2em] text-night-subtitles"
        >
          stay in touch
        </span>
        <h1 class="text-4xl font-bold text-night-text">Newsletter</h1>
      </div>
    </div>

    <div>
      <div
        class="py-2 pl-8 flex flex-col gap-2 justify-start content-center items-start rounded-[40px] w-full border-2"
      >
        <label
          for="email"
          class="uppercase text-night-subtitles text-xs tracking-widest"
          >EMAIL</label
        >
        <input
          type="email"
          class="outline-none bg-transparent text-night-text"
          placeholder="Eg. janedoe@gmail.com"
        />
      </div>
    </div>
  </div>
</div>
