---
import HeroButton from "../icons/HeroButton.astro";
import IconArrowNarrowLeft from "../icons/IconArrowNarrowLeft.astro";
import IconArrowNarrowRight from "../icons/IconArrowNarrowRight.astro";
import IconHome from "../icons/IconHome.astro";
import IconPlayerPlay from "../icons/IconPlayerPlay.astro";
import LinkButton from "./LinkButton.astro";

const images = [
  "/src/assets/img/cat_9.png",
  "/src/assets/img/cat_10.png",
  "/src/assets/img/cat_11.png",
  "/src/assets/img/cat_12.png",
  "/src/assets/img/cat_2.png",
  "/src/assets/img/cat_13.png",
];
---

<div class="grid grid-cols-1 gap-4 my-3 mx-7">
  <div
    class="grid grid-cols-1 sm:grid-cols-4 gap-4 pb-12 dark:bg-night-backgroundCard rounded-3xl"
  >
    <card>
      <div
        class="text-left bg-day-main dark:bg-day-main rounded-3xl py-20 pl-9 pr-11"
      >
        <span
          class="font-bold uppercase text-[10px] tracking-[0.1em] dark:text-day-secondary w-40 block"
        >
          Dedicated Care for Every Purrsonality
        </span>

        <h1 class="py-6 text-4xl font-bold dark:text-night-text">Purr Care</h1>
        <div>
          <p class="text-sm text-wrap dark:text-night-text">
            Experience top-notch feline care with our Purr Care services. From
            grooming to playtime, we provide personalized attention to ensure
            your cat's happiness and well-being at NekoInn.
          </p>
        </div>

        <div class="flex justify-start my-6">
          <LinkButton
            href="/about"
            class="flex justify-start items-center content-start gap-2 dark:bg-day-secondary dark:text-night-text font-bold text-xs rounded-full py-2 px-7"
          >
            <IconArrowNarrowRight />
            BOOK NOW
          </LinkButton>
        </div>
      </div>
    </card>

    <card
      class="px-7 pt-2 pb-7 border-b-[1px] border-night-subtitles border-opacity-25"
    >
      <div class="">
        <div class="py-6">
          <img
            src="/src/assets/img/cat_6.png"
            alt="Cat Vectorized"
            class="object-cover w-full h-full aspect-video rounded-3xl"
          />
        </div>
      </div>
      <div class="text-left">
        <h1 class="py-1 text-2xl font-bold dark:text-night-text">
          Grooming Spa:
        </h1>
        <div>
          <p class="text-sm text-wrap pr-11 dark:text-night-text">
            Indulge your cat in a pampering experience at our Grooming Spa. Our
            skilled groomers provide gentle care and attention, from luxurious
            baths to expert grooming sessions, leaving your cat looking and
            feeling their best.
          </p>
        </div>
      </div>
    </card>
    <card
      class="px-7 pt-2 pb-7 border-b-[1px] border-night-subtitles border-opacity-25"
    >
      <div class="">
        <div class="py-6">
          <img
            src="/src/assets/img/cat_7.png"
            alt="Cat Vectorized"
            class="object-cover w-full h-full aspect-video rounded-3xl"
          />
        </div>
      </div>
      <div class="text-left">
        <h1 class="py-1 text-2xl font-bold dark:text-night-text">
          Playtime Paradise:
        </h1>
        <div>
          <p class="text-sm text-wrap pr-11 dark:text-night-text">
            Let your cat unleash their playful side in our Playtime Paradise.
            With a variety of engaging toys, climbing structures, and
            interactive games, our supervised play sessions offer the perfect
            opportunity for your cat to exercise, socialize, and have fun.
          </p>
        </div>
      </div>
    </card>
    <card class="px-7 pt-2 pb-7">
      <div class="">
        <div class="py-6">
          <img
            src="/src/assets/img/cat_8.png"
            alt="Cat Vectorized"
            class="object-cover w-full h-full aspect-video rounded-3xl"
          />
        </div>
      </div>
      <div class="text-left">
        <h1 class="py-1 text-2xl font-bold dark:text-night-text">
          Gourmet Dining:
        </h1>
        <div>
          <p class="text-sm text-wrap pr-11 dark:text-night-text">
            Treat your cat's taste buds to a culinary delight with our Gourmet
            Dining service. From premium cat cuisine to customized meal plans
            tailored to their dietary needs, our gourmet chefs ensure that every
            meal is both delicious and nutritious.
          </p>
        </div>
      </div>
    </card>
  </div>

  <div class="pb-14 pt-4">
    <div class="">
      <section class="relative px-0 flex rounded-lg aspect-square object-cover">
        <input
          id="slide-0"
          name="carousel"
          type="radio"
          class="hidden"
          checked
        />
        <div
          class="absolute inset-0 flex items-center justify-center content-center opacity-100 transition-opacity duration-500"
        >
          <label for="slide-5" class="back flex items-center justify-center">
            <span class="absolute z-20 p-3 -left-2 rounded-full cursor-pointer">
            </span>
            <HeroButton
              class="absolute -left-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowLeft />
            </HeroButton>
          </label>
          <div class="slide-content">
            <img
              src="/src/assets/img/cat_9.png"
              alt="Cat Vectorized"
              class="aspect-square w-auto rounded-lg shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover z-10"
            />
          </div>
          <label for="slide-1" class="forward flex items-center justify-center">
            <span
              class="absolute z-20 p-3 -right-2 rounded-full cursor-pointer"
            >
            </span>
            <HeroButton
              class="absolute -right-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowRight />
            </HeroButton>
          </label>

          <HeroButton
            class="absolute z-10 right-12 -bottom-10 dark:bg-day-main dark:text-night-text rounded-full p-4"
          >
            <IconHome class="size-12" />
          </HeroButton>
        </div>

        <!-- slide 1 -->
        <input id="slide-1" name="carousel" type="radio" class="hidden" />
        <div
          class="absolute inset-0 flex items-center justify-center opacity-100 transition-opacity duration-500"
        >
          <label for="slide-0" class="back flex items-center justify-center">
            <span class="absolute z-20 p-3 -left-2 rounded-full cursor-pointer">
            </span>
            <HeroButton
              class="absolute z-10 -left-4 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowLeft class="" />
            </HeroButton>
          </label>
          <div class="slide-content w-full">
            <img
              src="/src/assets/img/cat_10.png"
              alt="Cat Vectorized"
              class="aspect-square rounded-lg shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover w-full h-full"
            />
          </div>
          <label for="slide-2" class="forward flex items-center justify-center">
            <span
              class="absolute z-20 p-3 -right-2 rounded-full cursor-pointer"
            >
            </span>
            <HeroButton
              class="absolute -right-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowRight />
            </HeroButton>
          </label>

          <HeroButton
            class="absolute z-10 right-12 -bottom-10 dark:bg-day-main dark:text-night-text rounded-full p-4"
          >
            <IconHome class="size-12" />
          </HeroButton>
        </div>

        <!-- slide 2 -->
        <input id="slide-2" name="carousel" type="radio" class="hidden" />
        <div
          class="absolute inset-0 flex items-center justify-center opacity-100 transition-opacity duration-500"
        >
          <label for="slide-1" class="back flex items-center justify-center">
            <span class="absolute z-20 p-3 -left-2 rounded-full cursor-pointer">
            </span>
            <HeroButton
              class="absolute z-10 -left-4 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowLeft class="" />
            </HeroButton>
          </label>
          <div class="slide-content w-full">
            <img
              src="/src/assets/img/cat_11.png"
              alt="Cat Vectorized"
              class="aspect-square rounded-lg shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover w-full h-full"
            />
          </div>
          <label for="slide-3" class="forward flex items-center justify-center">
            <span
              class="absolute z-20 p-3 -right-2 rounded-full cursor-pointer"
            >
            </span>
            <HeroButton
              class="absolute -right-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowRight />
            </HeroButton>
          </label>

          <HeroButton
            class="absolute z-10 right-12 -bottom-10 dark:bg-day-main dark:text-night-text rounded-full p-4"
          >
            <IconHome class="size-12" />
          </HeroButton>
        </div>

        <!-- slide 3 -->
        <input id="slide-3" name="carousel" type="radio" class="hidden" />
        <div
          class="absolute inset-0 flex items-center justify-center opacity-100 transition-opacity duration-500"
        >
          <label for="slide-2" class="back flex items-center justify-center">
            <span class="absolute z-20 p-3 -left-2 rounded-full cursor-pointer">
            </span>
            <HeroButton
              class="absolute z-10 -left-4 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowLeft class="" />
            </HeroButton>
          </label>
          <div class="slide-content w-full">
            <img
              src="/src/assets/img/cat_12.png"
              alt="Cat Vectorized"
              class="aspect-square rounded-lg shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover w-full h-full"
            />
          </div>
          <label for="slide-4" class="forward flex items-center justify-center">
            <span
              class="absolute z-20 p-3 -right-2 rounded-full cursor-pointer"
            >
            </span>
            <HeroButton
              class="absolute -right-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowRight />
            </HeroButton>
          </label>

          <HeroButton
            class="absolute z-10 right-12 -bottom-10 dark:bg-day-main dark:text-night-text rounded-full p-4"
          >
            <IconHome class="size-12" />
          </HeroButton>
        </div>

        <!-- slide 4 -->
        <input id="slide-4" name="carousel" type="radio" class="hidden" />
        <div
          class="absolute inset-0 flex items-center justify-center opacity-100 transition-opacity duration-500"
        >
          <label for="slide-3" class="back flex items-center justify-center">
            <span class="absolute z-20 p-3 -left-2 rounded-full cursor-pointer">
            </span>
            <HeroButton
              class="absolute z-10 -left-4 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowLeft class="" />
            </HeroButton>
          </label>
          <div class="slide-content w-full">
            <img
              src="/src/assets/img/cat_2.png"
              alt="Cat Vectorized"
              class="aspect-square rounded-lg shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover w-full h-full"
            />
          </div>
          <label for="slide-5" class="forward flex items-center justify-center">
            <span
              class="absolute z-20 p-3 -right-2 rounded-full cursor-pointer"
            >
            </span>
            <HeroButton
              class="absolute -right-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowRight />
            </HeroButton>
          </label>

          <HeroButton
            class="absolute z-10 right-12 -bottom-10 dark:bg-day-main dark:text-night-text rounded-full p-4"
          >
            <IconHome class="size-12" />
          </HeroButton>
        </div>

        <!-- slide 5 -->
        <input id="slide-5" name="carousel" type="radio" class="hidden" />
        <div
          class="absolute inset-0 flex items-center justify-center opacity-100 transition-opacity duration-500"
        >
          <label for="slide-4" class="back flex items-center justify-center">
            <span class="absolute z-20 p-3 -left-2 rounded-full cursor-pointer">
            </span>
            <HeroButton
              class="absolute z-10 -left-4 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowLeft class="" />
            </HeroButton>
          </label>
          <div class="slide-content w-full">
            <img
              src="/src/assets/img/cat_13.png"
              alt="Cat Vectorized"
              class="aspect-square rounded-lg shadow-lg dark:shadow-none dark:bg-night-background dark:border-0 object-cover w-full h-full"
            />
          </div>
          <label for="slide-0" class="forward flex items-center justify-center">
            <span
              class="absolute z-20 p-3 -right-2 rounded-full cursor-pointer"
            >
            </span>
            <HeroButton
              class="absolute -right-4 z-10 dark:bg-day-main dark:text-night-text rounded-full p-2 transform shadow-md transition-transform hover:scale-110"
            >
              <IconArrowNarrowRight />
            </HeroButton>
          </label>

          <HeroButton
            class="absolute z-10 right-12 -bottom-10 dark:bg-day-main dark:text-night-text rounded-full p-4"
          >
            <IconHome class="size-12" />
          </HeroButton>
        </div>
      </section>
    </div>
  </div>
</div>

<style>
  /* Ocultar los slides por defecto */
  input[name="carousel"]:not(:checked) + div {
    pointer-events: none;
    opacity: 0;
  }

  /* Mostrar el slide activo */
  input[name="carousel"]:checked + div {
    pointer-events: auto;
    opacity: 1;
  }

  .slide-content {
    opacity: 0;
    transition: opacity 1s;
  }

  input[name="carousel"]:checked + div .slide-content {
    opacity: 1;
  }
  /* .back,
  .forward {
    @apply absolute top-1/2 transform -translate-y-1/2 h-16 w-8 flex items-center justify-center text-sm bg-green-200 text-green-800 rounded-full shadow-md transition-transform hover:scale-110;
  } */

  /* .back {
    @apply left-4;
  } */

  /* .forward {
    @apply right-4;
  } */

  /* h1 {
    @apply text-5xl text-white drop-shadow-lg;
  } */
</style>
